@media (max-width: 767px) {
    body{
        overflow-x: hidden;
    }
    aside {
        position: fixed;
        left: -250px;
    }

    .navbar {
        width: 100%;
        left: 0;

    }

    .navbar .search-icon {
        color: #86a1ae;
        transition: all 0.3s;
        display: block;
        font-size: 20px;
    }

    .navbar .search-icon:hover {
        transform: scale(1.1);
        text-shadow: 0 0 5px rgba(47, 47, 47, 0.648);
    }
    .navbar .search-go{
        color: #86a1ae;
        transition: all 0.3s;
        display: none;
        font-size: 20px;
    }
    .navbar .search-bar{
        display: none;
        position: absolute;
        width: 150px;
        left: 15%;
    }
    .navbar .noti-txt{
        display: none;
    }
    .locater{
        top: 8%;
        left: 0;
        width: 100%;
        
    }
    .main-container{
        position: absolute;
        height: 800px;
        width: 100%;
        top: 100px;
        left: 0;    
    }
    .navbar .menu-icon{
        display: block;
    }
    aside .close-icon{
        display: block;
    }

    #previewImage {
        width: 150px;
        height: 150px;
      }
    .profile_div{
        position: absolute;
        right: -114px;
    }

    #pro-btn{
        width: 150px;
        position:absolute;
        left: -36px;
    }

}


@media (min-width: 768px) {}