* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

/* -----------------------------------------top-bar----------------------------------------- */
.navbar {
  background-color: #f2f2f2;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 83.5%;
  float: right;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  z-index: 1;
}

.navbar .search-bar {
  width: 300px;
  height: 40px;
  border: 0.5px solid #aeaeae;
  border-radius: 5px;
  padding: 5px;
}
.navbar .profile-icon,
.notification-icon {
  position: absolute;
  right: 0;
}
.navbar .profile-icon {
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.2s;
}
.navbar .profile-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(47, 47, 47, 0.648);
}
.navbar .notification-icon {
  color: #86a1ae;
  right: 80px;
  transition: all 0.3s;
}
.noti-txt {
  position: absolute;
  right: 120px;
}

.navbar .notification-icon:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(47, 47, 47, 0.648);
}
.navbar .search-icon {
  display: none;
  position: absolute;
  right: 130px;
}
.navbar .search-go {
  display: none;
  position: absolute;
  right: 130px;
}
.navbar .menu-icon {
  display: none;
  font-size: 20px;
}

/* ----------------------------------------sidebar----------------------------------------- */

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1a1a1a;
  transition: all 0.5s ease;
  height: 100%;
  overflow-y: auto;
  z-index: 100;
}

aside .close-icon {
  position: absolute;
  left: 90%;
  top: 1%;
  color: #fff;
  font-size: 20px;
  display: none;
}
.nav-side .name {
  padding: 20px 0px;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-size: 28px;
  border-bottom: #d2d2d2 solid 1px;
  color: #fff;
  font-weight: 600;
}
li.nav-heading {
  /* padding: 20px 0px; */
  text-align: left;
  margin-left: 15px;
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}
ul.nav-side {
  list-style: none;
  font-size: 15px;
}
li {
  padding: 5px 0px;
  text-align: left;
}
li a {
  text-decoration: none;
  color: #8da9b7;
}
.sub-fields li a {
  color: #8da9b7;
  padding-left: 20px;
}
.sub-fields li a:hover {
  color: #fff;
}
.logout .logout-btn {
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  color: #000000;
  padding: 10px 0px;
  width: 95%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 10px;
}
.logout .logout-btn:hover {
  background-color: #535353;
  color: #ffffff;
}

#active {
  color: white;
}

.locater {
  position: fixed;
  left: 16.5%;
  top: 10%;
  text-decoration: none;
  z-index: 1;
  background-color: #fff;
  top: 8%;
  padding: 10px 20px;
  height: 40px;
  width: 84%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.259);
}
#main {
  text-decoration: none;
  color: #000000;
}
#arrow {
  height: 15px;
  width: 15px;
  position: relative;
  top: 2px;
}
#navigator {
  position: relative;
  left: 0px;
  color: #86a1ae;
}

/* ----------------------------main-container-------------------------- */

.main-container {
  position: absolute;
  height: 100%;
  width: 83.5%;
  float: right;
  top: 100px;
  right: 0;
  /* background-color: black; */
  z-index: -1;
}

/* --my-profile-- */

.my_profile_main {
  position: absolute;
  top: 0%;
  left: 40%;
  width: calc(100%-78px);
  transition: all 0.4s ease;
}
#previewImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-top: 40px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
}

.set_picture {
  position: absolute;
  bottom: -10%;
  left: 12%;
  width: calc(100%-78px);
  transition: all 0.4s ease;
}

#pro-btn {
  background-color: #156797;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  left: 18px;
  top: 250px;
  transition: all 0.2s ease;
}

#pro-btn:hover {
  background-color: #45a049;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.632);
}

/* Other styles */
#previewImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #ccc;
}

/* ------------------------------------profile-divider-------------------------------- */

#profile-divider {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  transition: all 0.4s ease;
}

/* ------------------------------------profile-data-------------------------------- */

.form-container-edit {
  width: 90%;
  position: absolute;
  /* background: #e3e3e395; */
  top: 50%;
  left: 5%;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
}

.form-container-edit label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}

.form-container-edit input,
.form-container-edit select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 12px;
}

.form-container-edit input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border: none;
}

.form-container-edit input[type="submit"]:hover {
  background-color: #45a049;
}
.form-container-edit .field-row {
  display: flex;
  justify-content: space-between;
}

.form-container-edit .field-row .field-col {
  width: calc(50% - 5px);
}

.data {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.data label {
  line-height: 50px;
}

#profile-divider-non-edit {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 90%;
  transition: all 0.4s ease;
}

#lastfield {
  margin-bottom: 80px;
}

#pro-edit-btn {
  background-color: #156797;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  bottom: 20px;
  transition: all 0.2s ease;
}

.edit{
    display: none;
}
.non-edit{
    display: block;
}